body {font-family: Arial, Helvetica, sans-serif;}

.main
{
  margin-top: 10px;
  width: 100%;
  height: 1900px;
  background-color: white;
  border:1px solid black;
}
.navbar button:hover
{
  background-color: #000;
}

.navbar {


  width: 100%;
  background-color: #555;
  overflow: auto;
}
.navbar .links
{
  
}
.navbar p
{
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
.navbar a {

  margin: 5px;
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}
.categories
{
  float: left;
  margin-left: 10px;
}
.brands p
{
  margin-left: 20px;
  margin-top: 20px;
  background-color: grey;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  margin: 5px;
  width: 120px;
  height: 4 0px;
  text-align: center;
  text-decoration: none;
}
.brands a
{
  margin-top: 10px;
}

.topmobiles > p
{
  background-color: white;
  border: 1px solid black;
  width: 420px;
  height: 400px;
  float: right;
  font-size: 30px;
  text-align: center;
  font-weight: bold;    
  /*margin-top: 20px;*/
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 20px;

}

.latestvideos {
  float: right;
}

/*.categories
{
  margin-top: 0px;
  margin-left: 0px;
}
*/

#name
{
  
  height: 200px;
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 40px;
  border: 1px solid black;
  padding: 5px;
  text-align: center;

}

.form-popup {
  text-align: center;
  background-color: white;
  display: none;
  position: fixed;
  top: 35px;
  right: 50px;
  width: 360px;
  height: 500px;
  border: 3px solid #f1f1f1;
  
}
.form-container .btn {
  background-color: green;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  text-align: center;
}

input
{
  text-align: center;
}
input:active
{
  transform: scale(1.5);
}
input:hover
{
  transform: scale(1.5);
}
.form-container .cancel {
  background-color: red;
  al
}


.sign-up{
  background-color: #555;
  color: white;
  font-weight: bold;
  font-size: 15 px;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 1;
  margin-left: 700px;
  width: 280px;
  font-family: Arial, Helvetica, sans-serif;
}

#footer
{
  background-color: #555;
  height: 200px;
  color: white;
  text-align: center;

}
#footer a
{
  color: white;
  float: left;
  margin-left: 150px;
  padding: 10px;
}
#footer a:hover
{

  transform: scale(1.25);
}


